body {
    width: 1000px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.item_img {
    max-width: 300px;
}

.list_item {
    display: inline-block;
}

.item {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    float: left;
    text-align: center;
}

.item:hover {
    box-shadow: 2px 2px 2px 1px rgba(36, 37, 37, 0.5);
}

.item:active {
    box-shadow: 0 0 2px 1px rgba(36, 37, 37, 0.5);
}

h2.item_name {
    color: black;
}

h3.item_price {
    color: red;
}