body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}

div.item {
    max-height: 800px;
    display: flex;
    align-items: center
}

div.item_info {
    float: right;
    text-align: left;
    padding: 10px;
}

.item_img {
    max-width: 500px;
    margin: auto;
}

#name {
    color: dimgrey;
}

#price {
    color: red;
}